.form_name {
    display: flex;
    flex-direction: column;
};

.form_descriptive {
    display: flex;
    flex-direction: column;
};

.form_due_date {
    display: flex;
    flex-direction: column;
};

.form_add_button {
    display: flex;
    flex-direction: column;
};